.App {
  text-align: center;
  
}

.App-header{
  background-image: url('./Images/Moon.png'); 
  background-repeat: no-repeat; 
}

.App-header, .App-body {
  background-color: #282c34;
  min-height: 50vh;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0%;
}
.App-body{
  background-color: rgb(195, 195, 195);
  color: black;
}
.NavBar-Menu{
  display: flex;
  align-content: flex-start;
}

