.App {
  text-align: center;
  
}
.MuiCardContent-root{
  background-color: white;
  color: black;
  margin: 1em;
  border-radius: 16px;
}

.CardContent{
  border: darkgoldenrod;
  border-style: solid;
}

.App-header{
  background-image:  url('./Images/Moon.png'); 
  background-blend-mode: lighten;
  background-repeat: no-repeat; 
  background-position: center top;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);;
}

.App-header, .App-body {
  background-color: #282c34;
  min-height: 50vh;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: 'Orbitron', sans-serif;
  font-size: calc(30px + 2vmin);
  color: white;
  margin: 0%;
}
.App-body{
  background-color: rgb(27, 6, 6);
  color: rgb(25, 4, 4);
}
.NavBar-Menu{
  display: flex;
  align-content: flex-start;
}

