.App {
  text-align: center;
  
}

/* Create an invisible spacer that forces links to #element to scroll past the fixed page header */
.header-spacer{
  padding-top: 70px;
  margin-top: -70px;
  width: 100%;
}

.cardContent{
  display: flex; 
  background-color: white;
  color: black;
  max-width: 25em;
  min-height: 4.5em;
  justify-content: center;
  align-items: center;
  margin: .7em .2em;
  padding: 2em;
  border-radius: 20px;
}
.App-header{
  background-image:  url('./Images/Moon.png'); 
  background-blend-mode: lighten;
  background-repeat: no-repeat; 
  background-position: center top;
  height: 80vh;
}

.App-header, .App-body {
  background-color: #282c34;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: 'Orbitron', sans-serif;
  font-size: calc(30px + 2vmin);
  color: white;
  margin: 0%;
}

.App-body{
  background-color: rgb(27, 6, 6);
  color: rgb(25, 4, 4);
  min-height: 50vh;
  
}
.App-card{
  background-color: transparent !important;
  width: 100% !important;
}
.NavBar-Menu{
  display: flex;
  align-content: flex-start;
  background: linear-gradient(90deg, hsla(213, 77%, 14%, 1) 0%, hsla(202, 27%, 45%, 1) 100%) !important;
}
.header-button{
  color: white !important;
  
}
